html {
    overflow-y: auto;
}

body {
    background-color: #69b3ac;
    color: rgb(24, 22, 22);
}

.navbar-fixed {
    z-index: 3;
    position: absolute;
}

.brand-logo img {
    height: 60px;
    padding: 10px;
}

header {
    z-index: 2;
    position: relative;
    height: 100vh;
    background-image: radial-gradient(rgba(9, 53, 43, 0.767), rgba(115, 167, 157, 0.712)), url("../images/hero.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#hero {
    margin: 0;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#nav-bg {
    z-index: 1;
    background: #69b3ac;
    position: fixed;
    height: 65px;
    width: 100%;
    top: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2)
}

#mainText {
    margin-top: 30vh;
}

header h1 {
    font-size: 5vw;
}

header h2{
    font-size: 1vw;
}


.fixed-action-btn {
    /* values below are for when fb msg fab is on */
    /* bottom: 100px;
    right: 25px; */
    z-index: 100;
}

.teal-icon {
    color: rgb(27, 109, 109) !important;
}

/* Class for when element is above threshold */
.pin-top {
    position: relative;
}

/* Class for when element is below threshold */
.pin-bottom {
    position: relative;
}

/* Class for when element is pinned */
.pinned {
    position: fixed !important;
}

.parallax-container{
    height: 25vh;
}

#parallax1 {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.452), rgba(102, 179, 165, 0.712)), url("../images/parallax1.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#parallax2 {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.452), rgba(102, 179, 165, 0.712)), url("../images/parallax2.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.skills-row {
    line-height: 150px;
}

.devicon {
    font-size: 150px !important;
}

.highlighted{
    padding: 3px 5px;
    border-radius: 5px;
}

.progress-wrapper{
    vertical-align: middle;
}

.section-header{
    position: relative;
    top: -80px;
    padding: 30px;
    background: #50b1a7;
    border-radius: 10px;
}